/*Importação (Google Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@800&family=Fjalla+One&family=Inter:wght@100;200;300;400;500;600&family=Noto+Sans:ital,wght@1,600&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@1,700&family=Titillium+Web&display=swap');


/* CSS Rste*/
* {
  margin: 0;
  border: 0;
  padding: 0;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
}

/*Layout*/
.Conteiner {
  margin: 0 auto;

}

.flex {
  display: flex;
  justify-content: space-between;
  
}

.flex2{
  display: flex;
  align-items: center;
}

.flex3{
  display: flex;
  flex-direction: column;
 
}
.flex4{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex5{
  display: flex;
  flex-direction: column-reverse;
}
.flex6{
  display: flex;
  justify-content: space-around;
}

.Botao{
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  background-color: #c00000;
  padding: 10px 40px;
  border: 2px solid #fff;
  border-radius: 25px;
}

/* topo do site*/
#topo {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
/* Cartões*/
.Card{
  margin-top: 25px;
  width: 340px;
  height: 580px;
  background-color: #e8e8e8;
  border: 1px solid #a1a1a1;
  border-radius: 25px;
  text-align: center;
  
}
.Card img{
  border-radius: 23px 23px 0px 0px;
  
}
.Card h3{
  margin-top: 15px;
}
.Card p{
  text-align: left;
  color: #434343;
  padding: 10px 30px 50px 30px;

}
.Card a{
  padding: 10px 100px;
  border: 0;
  text-align: center;
 
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>*/

/* Cabeçalho */
header {
  height: 60px;
}

#logo img {
  width: 128px;
  height: 128px;
}
#check{
  display: none;
}
label{
  font-size: 3em;
  position: fixed;
  top: 5px;
  right: 15px;
  color: rgba(0,0,0,0.5);
}
nav ul {
  list-style: none;
  background-color: #343538;
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -100%;
  width: 100%;
  transition: all 0.5s;
}
#check:checked ~ ul{
right: 0;
}
nav ul li{
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;

}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
/* Destaque*/
main{
  height: 75vh;
  background: url(img/banner.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main h1{
  font-size: 2.5em;
}
main h2{
  font-size: 1em;
  margin: 20px 0px 50px 0px;
}
/* Sobre*/
#sobre{
  padding: 50px 0px;
  background: url(img/background.png);
  background-size: cover;
  background-position: center;

}
#destaqueSobre{
  display: none;
}
#textoSobre{
  color: #fff;
  padding: 0px 10px;

}
#textoSobre h2{
  margin-bottom: 10px;
}
.TopicosSobre{
  margin-top: 20px;

}
.TopicosSobre img{
  margin-right: 10px;
}
/* One page*/
#onepage{
  padding: 50px 10px;

}
#onepage h2{
  margin-bottom: 10px;
}
#onepage p{
  margin-bottom: 25px;
}

#vidio iframe{
 width: 340px;
 height: 191px;
 border: 0;
 margin-left: 15px;
}
/* Wierefreme*/
#wireframe{
  padding: 50px 0px;
  background: url(img/background.png);
  background-size: cover;
  background-position: center;
}
#textoWire{
  color: #fff;
  padding: 0px 10px  ;
}
#textoWire h2{
  margin-bottom: 10px;
}
#textoWire p{
  margin-bottom: 40px;
}
#textoWire span{
  display: none;
}
#qrcode{
  display: none;
}

/* Conteúdo*/
#conteudo{
  padding: 50px 0px;

}
#conteudo h2 {
  margin-bottom: 25px;
  text-align: center;
}
#todos{
  margin-top: 50px;
  text-align: center;
}
#todos a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.25em;
  
}
/* Rodapé*/
address{
  padding: 35px 10px 50px 10px;
  background: url(img/background2.png);
  background-size: cover;
  background-position: center;
  color: #fff;
}
address a{
  text-decoration: none;
  color: #fff;
}
address img{
  padding-top: 15px;
}
#iconeLocal{
  display: none;
}
#dados{
  margin: 30px 0px 15px 0px;
}
#googleMaps{
  display: none;
}
footer{
  padding: 50px;
  background-color: #343538;
  color: #fff;
  text-align: center;
}
#social{
  margin-bottom: 25px;
}

/* Smartphone Landscape */

@media (min-width: 576px) {
  /*Layout*/
  .Conteiner {
    max-width: 540px;
  }
  /* Destaque*/
  main h1, main h2{
    text-shadow: #000 0.5em 0.05em 0.5em;
  }
  /* One page*/
  #vidio iframe{
    width: 560px;
    height: 315px;
   
   }
   /* Rodapé*/
   .flex5{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }
   #social{
    margin: 0;
   }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>.*/
@media (min-width: 768px) {
  /*Layout*/
  .Conteiner {
    max-width: 720px;
  }
  /*Destaque*/
  main{
    height: 45vh;
  }
  main h1{
    font-size: 5.5em;
  }
  main h2{
    font-size: 2em;
  }

}

/* Tablet Landscape<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 992px) {

  /*Layout*/
  .Conteiner {
    max-width: 960px;
  }
  main{
    height: 70vh;
  }
}

/* PC >>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

/*Layout*/
.Conteiner {
  max-width: 1400px;
  
}
header{
  height: 120px;
}

#logo img {
  width: 189px;
  height: 189px;
  margin-top: 30px;
}
label{
  display: none;
}
 nav ul {
  position: static;
  height: auto;
  background-color: transparent;
  margin-top: 50px;
 }
 nav ul li{
  float: left;
  border: 0;

 }
 nav ul li a{
  color: #343538;
 }
 nav ul li a:hover{
  color: #c00000;
 }

 /*Sobre*/
#sobre{
  background-attachment: fixed;
}

 #destaqueSobre{
  display: inline;
 }
 #destaqueSobre img{
  border-radius: 50%;
  margin-right: 50px;
 }
 /* One page*/
 .flex3{
  flex-direction: row;
  align-items: center;
 }
  
 /*Wirefreme*/
 #wireframe{
  background-attachment: fixed;
 }
 #wireframe span{
  display: inline;
  color: #000;
 }
 #qrcode{
  display: inline;
 }
 
 #qrcode img {
  width: 255px;
  height: 225px;
 }

 /* Rodapé*/
 #iconeLocal{
   display: inline;
 }
 #iconeMapa{
  display: none;
 }
 #googleMaps{
  display: inline;
 }
 .flex6{
  flex-direction: row-reverse;
 }
}