/* CSS Rste*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}
/*Importação (Google Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@800&family=Fjalla+One&family=Inter:wght@100;200;300;400;500;600&family=Noto+Sans:ital,wght@1,600&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@1,700&family=Titillium+Web&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>*/

/* Smartphone Landscape */
@media (min-width: 576px){
  body{
    background-color: #0ff;
  }
}


/* Tablet Portrait >>>>>>>>>>>>>>>>.*/
@media (min-width: 768px){
    body{
      background-color: #ff0;
    }
  }
  /* Tablet Landscape<<<<<<<<<<<<<<<<<<<<<*/
  @media (min-width: 992px){
    body{
      background-color: #ff6600;
    }
  }
  /* PC >>>>>>>>>>>>>>>>>*/
  @media (min-width: 1200px){
    body{
      background-color: #f00;
    }
  }